.block-home-page {
    .banner {
        background: #29B363;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        color: #ffffff;

        @media screen and (max-width: 1200px) {
            padding-right: 5rem;
            padding-left: 5rem;
        }

        h1 {
            font-size: 2.7rem;
            line-height: 1.1;
            margin-bottom: 1rem;

            @media screen and (max-width: 465px) {
                font-size: 1.3rem;
            }
        }

        p {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .joke {
        width: 1110px;
        margin: 0 auto;

        @media screen and (max-width: 1200px) {
            width: 100%;
        }

        .wrap-text {
            padding-top: 3rem;
            padding-bottom: 3rem;
            font-size: 17px;
            font-weight: 400;
            text-align: justify;
            line-height: 1.7;

            @media screen and (max-width: 1200px) {
                padding-right: 3rem;
                padding-left: 3rem;
            }
        }

        .wrap-action {
            padding-top: 3rem;
            padding-bottom: 3rem;
            position: relative;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                width: 700px;
                margin: 0 auto;
                border-top: 1px solid #ccc;

                @media screen and (max-width: 900px) {
                    width: 600px;
                }

                @media screen and (max-width: 768px) {
                    width: 500px;
                }

                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }

            .box-button-event {
                text-align: center;

                @media screen and (max-width: 465px) {
                    padding-right: 3rem;
                    padding-left: 3rem;
                }

                button {
                    width: 200px;
                    margin-right: 2rem;

                    &:last-child {
                        margin-right: 0;
                    }

                    @media screen and (max-width: 465px) {
                        margin-right: 0;
                        width: 100%;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}