.block-layout {
    background: #FCFCFC;
    height: 100vh;

    .ant-layout-header {
        display: flex;
        align-items: center;
        background: #ffffff;
        line-height: 19px;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 3px 5px;
        z-index: 1;

        @media screen and (max-width: 465px) {
            padding-inline: 20px;
        }

        .block-header {
            display: flex;
            align-items: center;
            width: 910px;
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 10px;
            justify-content: space-between;

            .account {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: -95px;

                @media screen and (max-width: 1140px) {
                    margin-right: -40px;
                }

                @media screen and (max-width: 992px) {
                    margin-right: 0;
                }

                .info {
                    margin-right: 10px;
                    text-align: right;

                    p {
                        margin-bottom: 0;
                    }

                    .cap {
                        color: #878787;
                        font-style: italic;
                    }
                    .name {
                        font-weight: 600;
                    }
                }

                img {
                    width: 70px;
                    border-radius: 100%;
                }
            }
        }
    }

    .ant-layout-content {
        min-height: auto;
    }

    .ant-layout-footer {
        margin-top: 3rem;
        border-top: 2px solid #ccc;

        .block-footer {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
            width: 850px;
            font-size: 12px;
            color: #8d8d8d;

            @media screen and (max-width: 1250px) {
                width: 100%;
            }

            p {
                margin-bottom: 0;
            }

            .copyright {
                margin-top: 1rem;
                color: #333333;
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
}