.block-layout {
    background: #FCFCFC;
    height: 100vh;

    .ant-layout-header {
        display: flex;
        align-items: center;
        background: #ffffff;
        line-height: 22px;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 3px 5px;
        z-index: 1;

        .block-header {
            display: flex;
            align-items: center;
            width: 1200px;
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 10px;
            justify-content: space-between;

            .account {
                display: flex;
                flex-direction: row;
                align-items: center;

                .info {
                    margin-right: 10px;
                    text-align: right;

                    p {
                        margin-bottom: 0;
                    }

                    .cap {
                        color: #878787;
                    }
                    .name {
                        font-weight: 600;
                    }
                }

                img {
                    width: 70px;
                    border-radius: 100%;
                    border: 1px solid #e7e7e7;
                    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
                }
            }
        }
    }

    .ant-layout-content {
        min-height: auto;
    }

    .ant-layout-footer {
        margin-top: 3rem;
        border-top: 2px solid #ccc;

        .block-footer {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 1200px;
            margin: 0 auto;

            @media screen and (max-width: 1250px) {
                width: 100%;
            }
        }
    }
}